.login > h1 {
    font-family: 'Cairo';
font-style: normal;
font-weight: 682;
font-size: 50px;
line-height: 94px;
color: #7FB414;
}
form{
    font-family: 'Cairo';
font-style: normal;
}
.input1 {
font-weight: 700;
font-size: 26.8548px;
line-height: 50px;
color: #454545;
}

.login form input {
    border: 1.67843px solid #7FB414;
border-radius: 20.9803px;
padding-right: 20px;
}

input::placeholder {
    padding-right: 20px;
}

.hide-pas {
    width: 25px;
    margin-right: -3rem;
    cursor: pointer;
}

#submit {
    font-family: 'Cairo';
font-style: normal;
font-weight: 700;
font-size: 26.8548px;
line-height: 50px;
color: #FFFFFF;
    background: #7FB414;
border-radius: 41.9607px;
}

@media screen and (min-width:0px) and (max-width:576px) {
    .login > h1 {
    font-size: 20px;
    }
    form > p {
        font-size: 10px;
    }
    .login , form {
width: 100%!important;
    }
    .login form input {
        border-radius: 13.9803px;
        padding-right: 10px;
    }
    .input1 {
        font-size: 12.7891px;
        }
        input::placeholder {
            padding-right: 5px;
            font-size: 10px;
        }
        #submit {
        font-size:  15.9054px;
        border-radius: 24.8522px;
        }
}